@using ApartmanYonetimSistemi.Models
@using ApartmanYonetimSistemi.Controllers
@{
    ViewBag.Title = "BorcEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var db = new ApartmanYonetimSistemiEntities();

}

<div class="static-content">
    <div class="page-content">
        <ol class="breadcrumb">

            <li>
                <a href="Index">Ana Sayfa</a>
            </li>
            <li>
                <a href="Aidatlar">Aidatlar</a>
            </li>
            <li class="active">
                <a href="BorcEkle">Borç Ekle</a>
            </li>
        </ol>
        <div class="container-fluid">

            <div data-widget-group="group1">
                <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Borç Ekle</h2>
                        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body">
                        <div class="form-horizontal row-border">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Açıklama</label>
                                <div class="col-sm-8">
                                    <input type="text" id="aciklama" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hesap</label>
                                <div class="col-sm-8">
                                    <input type="text" id="hesap" class="form-control tooltips" data-trigger="hover" data-original-title="Kat maliki, kiracı, tedarikçi veya personel seçiniz. Girdiğiniz hesap adı sistemde yok ise yeni oluşturulur.">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tutar</label>
                                <div class="col-sm-8">
                                    <input type="text" id="tutar" class="form-control mask" data-inputmask="'mask':'999.999,99 ₺', 'greedy' : true, 'rightAlignNumerics' : false">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Düzenlenme ve Ödeme Tarihi</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                        <input type="text" class="form-control" id="daterangepicker1">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kategori</label>
                                <div class="col-sm-8">
                                    @foreach (var item in db.TBLCATEGORY)
                                    {

                                        <input type="hidden" id="e12" style="width: 100% !important" value="@item.CATEGORYNAME" />
                                    }
                                    <p class="help-block">İşleme uygun kategoriyi seçin veya yeni kategori ekleyin.</p>
                                </div>
                            </div>


                            <div class="hidden form-group">
                                <label class="col-sm-2 control-label">Fullscreen Textarea</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control fullscreen"></textarea>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 form-actions clearfix">
                                        <button type="button" class="btn-primary btn" onclick="BorcEkle()">Kaydet</button>
                                        <button class="btn-default btn">Vazgeç</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>


            </div>

        </div> <!-- .container-fluid -->
    </div> <!-- #page-content -->
</div>

<!-- Load page level scripts-->
<script type="text/javascript" src="~/assets/plugins/form-multiselect/js/jquery.multi-select.min.js"></script>  			<!-- Multiselect Plugin -->
<script type="text/javascript" src="~/assets/plugins/quicksearch/jquery.quicksearch.min.js"></script>           			<!-- Quicksearch to go with Multisearch Plugin -->
<script type="text/javascript" src="~/assets/plugins/form-typeahead/typeahead.bundle.min.js"></script>                 	<!-- Typeahead for Autocomplete -->
<script type="text/javascript" src="~/assets/plugins/form-select2/select2.js"></script>                     			<!-- Advanced Select Boxes -->
<script type="text/javascript" src="~/assets/plugins/form-autosize/jquery.autosize-min.js"></script>            			<!-- Autogrow Text Area -->
<script type="text/javascript" src="~/assets/plugins/form-colorpicker/js/bootstrap-colorpicker.min.js"></script> 			<!-- Color Picker -->
<script type="text/javascript" src="~/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"></script>      <!-- Touchspin -->
<script type="text/javascript" src="~/assets/plugins/form-fseditor/jquery.fseditor-min.js"></script>            			<!-- Fullscreen Editor -->
<script type="text/javascript" src="~/assets/plugins/form-jasnyupload/fileinput.min.js"></script>               			<!-- File Input -->
<script type="text/javascript" src="~/assets/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>     		<!-- Tokenfield -->
<script type="text/javascript" src="~/assets/plugins/card/lib/js/card.js"></script> 										<!-- Card -->
<!-- <script type="text/javascript" src="~/assets/plugins/iCheck/icheck.min.js"></script>  -->    							<!-- iCheck // already included on site-level -->
<script type="text/javascript" src="~/assets/plugins/switchery/switchery.js"></script>     								<!-- Switchery -->
<script type="text/javascript" src="~/assets/plugins/jquery-chained/jquery.chained.min.js"></script> 						<!-- Chained Select Boxes -->
<script type="text/javascript" src="~/assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> <!-- MouseWheel Support -->
<script type="text/javascript" src="~/assets/demo/demo-formcomponents.js"></script>
<script type="text/javascript" src="~/assets/plugins/form-inputmask/jquery.inputmask.bundle.min.js"></script>  	<!-- Input Masks Plugin -->
<script type="text/javascript" src="~/assets/demo/demo-mask.js"></script>
<script type="text/javascript" src="~/assets/plugins/form-daterangepicker/moment.min.js"></script>              			<!-- Moment.js for Date Range Picker -->
<script type="text/javascript" src="~/assets/plugins/form-colorpicker/js/bootstrap-colorpicker.min.js"></script> 			<!-- Color Picker -->
<script type="text/javascript" src="~/assets/plugins/form-daterangepicker/daterangepicker.js" charset="windows-1254"></script>     				<!-- Date Range Picker -->
<script type="text/javascript" src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>      			<!-- Datepicker -->
<script type="text/javascript" src="~/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>      			<!-- Timepicker -->
<script type="text/javascript" src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> <!-- DateTime Picker -->
<script type="text/javascript" src="~/assets/plugins/clockface/js/clockface.js"></script>     								<!-- Clockface -->
<script type="text/javascript" src="~/assets/demo/demo-pickers.js" charset="windows-1254"></script>
<!-- End loading page level scripts-->

<script>
    $("#e12").select2({ width: "100%", tags: ["Aidat", "Demirbaş", "Elektrik", "Sıcak Su", "Temizlik"] });
</script>

<script>
    function BorcEkle() {
        console.log("Oldu Mu?");
        if ($("#aciklama").val() == null || $("#hesap").val() == null || $("#daterangepicker1.start").val() == null || $("#daterangepicker1.end").val() == null || $("#e12").val() == null) {
            $.PNotify({
                title: 'Ups!',
                text: 'Lütfen alanları doldurunuz.',
                type: 'error',
                icon: 'ti ti-close',
                styling: 'fontawesome'
            });
        } else {
            $.PNotify({
                title: 'Borç Eklendi',
                text: 'Borç verisi başarılyla eklendi.',
                type: 'success',
                icon: 'ti ti-check',
                styling: 'fontawesome'
            })

            $.post("@Url.Action("BorcEkle", "Dashboard")", {
                aciklama: $("#aciklama").val(),
                hesap: $("#hesap").val(),
                start: $("#start").val(),
                end: $("#end").val(),
                kategori: $("#e12").val()
            }, function(data) {
                $.PNotify({
                    title: 'Borç Eklendi',
                    text: 'Borç verisi başarılyla eklendi.',
                    type: 'success',
                    icon: 'ti ti-check',
                    styling: 'fontawesome'
                }).then(function() {
                    @Url.Action("Aidatlar", "Dashboard")

                }, function(dismis) {
                    if (dismis == 'cancel' || dismis == 'overlay') {
                        location.reload()
                    }
                })
            })
        }
    }


</script>

<script type="text/javascript">

    function go() {
        window.location = '@Url.Action("Index","Kullanici")';
    }
    function Add() {
        if ($("#yetkiid").val() == "") {
            toastr.warning("Lütfen yetki bölümünü seçiniz!");
            return;
        }
        if ($("#gorevid").val() == "") {
            toastr.warning("Lütfen görev bölümünü seçiniz!");
            return;
        }
        if ($("#birim").val() == "") {
            toastr.warning("Lütfen birim bölümünü seçiniz!");
            return;
        }
        if ($("#isim").val() == "") {
            toastr.warning("Lütfen isim bölümünü doldurunuz!");
            return;
        }
        if ($("#soyisim").val() == "") {
            toastr.warning("Lütfen soyisim bölümünü doldurunuz!");
            return;
        }
        if ($("#tck").val().length != 11) {
            toastr.warning("TC kimlik numarası 11 haneli olmalıdır!");
            return;
        }
        if ($("#mail").val() == "") {
            toastr.warning("Lütfen geçerli bir mail giriniz!");
            return;
        }
        if ($("#kuladi").val() == "") {
            toastr.warning("Lütfen kullanıcı adı bölümünü doldurunuz!");
            return;
        }
        if ($("#sifre").val() == "") {
            toastr.warning("Lütfen şifre bölümünü doldurunuz!");
            return;
        }
        if ($("#sifre").val().length < 8) {
            toastr.warning("Lütfen şifrenizi en az 8 karakterden oluşturunuz!");
            return;
        }
        var letter_pattern = /^[a-zA-ZüöçğşıİÜĞÇŞÖ\s]+$/i;
        var number_pattern = /^[0-9]*$/;
        var char_pattern = /\W/;
        var ok1 = letter_pattern.test($("#sifre").val());
        var ok2 = number_pattern.test($("#sifre").val());
        var ok3 = char_pattern.test($("#sifre").val());
        if (!(!ok1 && !ok2 && ok3)) {
            toastr.warning("Şifreniz harf, rakam ve noktalama işaretlerinden oluşmalıdır!");
            return;
        }
        if ($("#sifre").val() != $("#sifre2").val()) {
            toastr.warning("Girdiğiniz şifre ile tekrarı uyuşmamaktadır! Lütfen kontrol edip tekrar deneyiniz.");
            return;
        }
        var info = {
            YETKIID: $("#yetkiid").val(),
            GOREVID: $("#gorevid").val(),
            AD: $("#isim").val(),
            SOYAD: $("#soyisim").val(),
            TCK: $("#tck").val(),
            KULADI: $("#kuladi").val(),
            SIFRE: $("#sifre").val(),
            BIRIMID: $("#birim").val(),
            MAIL: $("#mail").val()
        };
        $.ajax({
            url: '@Url.Action("AxCreate","Kullanici")',
            data: JSON.stringify(info),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            error: function () {
                toastr.error('İşlem sırasında hata oluştu!');
            },
            success: function (result) {
                if (result.Success == true) {
                    toastr.success(result.Description);
                    setTimeout(go, 3000);
                }
                else {
                    toastr.error(result.Description);
                }

            }
        });
    }


</script>